<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/solar/bootstrap.min.css" rel="stylesheet">
	<title>Number Cruncher</title>
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.e14c2b227c.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.e14c2b227c.png">
	<link rel="icon" type="image/png" sizes="48x48" href="../images/favicon-48x48.e14c2b227c.png">
	<link rel="icon" type="image/png" sizes="64x64" href="../images/favicon-64x64.e14c2b227c.png">
    <style>
      .fireworks-container {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        pointer-events:none;
      }
    </style>
</head>
<body>
    <div class="container">
    <div class="row">
      <div class="col-6">
        <h1 class="mt-3 text-light">Scoreboard</h1>
      </div>
      <div class="col-6">
          <div class="d-none" id="codebuttonhide">
            <button class="btn btn-primary m-3 d-inline-block" type="button" 
                               data-bs-toggle="collapse" data-bs-target="#showcode" 
                               aria-expanded="true" aria-controls="showcode">
              Toggle Code
            </button>

            <div class="form-check form-switch d-inline-block">
                <input class="form-check-input" type="checkbox" id="opengame" checked="">
                <label class="form-check-label" for="opengame">
                    Players can join
                </label>
            </div>
          </div>
      </div>
      <div class="col-12 collapse show text-center" id="showcode">
          <div class="d-none" id="codehide">
            <h1 class="display-1 text-light" id="code"></h1>
          </div>
       </div>
    </div>
    <table class="table">
    <thead>
        <tr>
        <th class="text-center" style="width:10%">Rank</th> 
        <th style="width:30%">Name</th>
        <th class="text-center" style="width:40%">Progress</th>
        <th class="text-end" style="width:20%">Time</th> 
        </tr>
    </thead>
    <tbody id="scoreboard1"> 
    </tbody>
    </table>
        <footer class="text-center mt-3 mb-1">
          Designed and developed by Theta Back, 2024. <a href="../about/">More info</a>
        </footer>
    </div>
      <div class="fireworks-container"
        style="background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"></div>
    <script type="module" src="../ncclient.mjs"></script>
    <script type="module">
        import {getUserId, getScoreboard, subscribeToUpdate, kickUser, setGameStatus, getGameStatus} from '../ncclient.mjs';
        import { Fireworks } from '../node_modules/fireworks-js/dist/index.es.js';
        function fireburst(seconds) {
            const fireworks = new Fireworks(document.querySelector(".fireworks-container"), { /* options */ })
            fireworks.start();
            setTimeout(function () {fireworks.waitStop(true)}, seconds*1000);
        }

        // add a handler for the case when sessionStorage.currentGame = null
        const currentGame = JSON.parse(sessionStorage.currentGame);
        const levelseq = currentGame.levelseq.split(" ");
        const recordID = currentGame.id; 
        const sc = document.getElementById("scoreboard1");
        let firebool = false;

        const completedbar = "<div class='progress'><div class='progress-bar bg-success' style='width:100%'></div></div>";
        let showkickbutton = false;

        if (currentGame.creator == getUserId()) {
            document.getElementById("codebuttonhide").className = "d-show float-end";
            document.getElementById("codehide").className = "d-show";
            showkickbutton = true; 
            async function toggleGame(event) {
                if (event.target.checked) {
                    setGameStatus(recordID, "true")
                } else {
                    setGameStatus(recordID, "false")
                }
            }
            const opengame = document.getElementById("opengame")
            opengame.onchange = toggleGame; 
            opengame.checked = (await getGameStatus(recordID)).open
        }

        document.getElementById("code").innerHTML = currentGame.code;
        

        async function updateScoreboard() {
            const cr = await getScoreboard(recordID);
            const kickmap = {};
            let fin = "";
            let inp = "";
            let place = 1;
            const medals = ["", "🥇", "🥈", "🥉"];
            for (let r of cr) {
              let kickbutton = "";
              if (showkickbutton) {
                kickbutton = `<button type="button" title="Kick player" class="btn-close float-end" id="remove-${r.id}" aria-label="Close"></button>`; 
                kickmap[`remove-${r.id}`] = r.id;
              }
              if (r.time) {
                if (r.userid == getUserId()) {
                    fin += 
                     `<tr><td class="table-light text-center">${medals[place] || ""} ${place}</td>` +
                     `<td class="table-light">${r.name} ${kickbutton}</td>` +
                     `<td class="table-light" style="vertical-align:middle">${completedbar}</td>` +
                     `<td class="table-light text-end">${r.time?.toFixed(1)} seconds</td></tr>`;
                     if (!firebool) {
                        fireburst(3);
                        firebool = true;
                     }
                } else {
                    fin += 
                     `<tr><td class="table-default text-center">${medals[place] || ""} ${place}</td>` +
                     `<td class="table-default">${r.name} ${kickbutton}</td>` +
                     `<td class="table-default" style="vertical-align:middle">${completedbar}</td>` +
                     `<td class="table-default text-end">${r.time?.toFixed(1)} seconds</td></tr>`;
                }
                place++;
              } else {
                let progress = (levelseq.indexOf(r.level))/(levelseq.length) * 100 
                if (progress < 0) {
                    progress = 0
                }
                const progressbar = `<div class='progress'><div class="progress-bar progress-bar-animated progress-bar-striped bg-info" style='width:${progress}%'></div></div>`;
                inp += 
                   `<tr><td class="table-default text-center">N/A</td>` +
                   `<td class="table-default">${r.name} ${kickbutton}</td>` +
                   `<td class="table-default" style="vertical-align:middle">${progressbar}</td>` +
                   `<td class="table-default text-end">${progress.toFixed(1)}%</td></tr>`;
              }
            }
            sc.innerHTML= fin + inp;
            for (let removeid in kickmap) {
              document.getElementById(removeid).onclick = function () {
                kickUser(kickmap[removeid])
              }
            }
        }
        updateScoreboard();
        const cr = await subscribeToUpdate(recordID, updateScoreboard);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
